AGENTS.md
.agents/
backup/
data_src/
dati/
arg/
jslint/
bin/
log/
ipynb/
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
*.egg-info/
*.egg
MANIFEST
.vscode/
*.code-workspace
*.sublime-*
.env
.gitignore
static/tmp/
static/css/style.min.css
