// ===================================================================
//  DIALOGO CANCELLAZIONE DATI E ANIMAZIONI
// ===================================================================

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#id_upload .window-text {
  box-sizing: border-box;
  height: auto;
  padding-bottom: 20px;
}
