/** @format */

// ===================================================================
//  4. LAYOUT PRINCIPALE
// ===================================================================

div.container {
  position: relative;
  top: 4.6vh;
  left: 0;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;

  div.item {
    min-height: 50px;
  }

  // --- Area Output ---
  div.item1 {
    flex: 1;
    min-height: 0;
    padding: 0.5vh 0.5vw 5vh 0.5vw;

    .output-wrapper {
      border-radius: 20px;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .text-out {
        box-sizing: border-box;
        flex: 1;
        border: none;
        padding: 2px;
        margin: 0;
        min-width: 50vw;
        height: 100%;
        border-radius: 10px;
        overflow-y: auto;
        outline: none;

        .pre-text,
        .div-text {
          box-sizing: border-box;
          white-space: pre-wrap;
          word-wrap: break-word;
          font-family: @fsans;
          font-size: @fsize-out;
          line-height: 1.5;
          padding: 2px;
          margin: 0;
          height: 100%;
          overflow-y: auto;
          scroll-behavior: smooth;
        }
        .div-text {
          width: 100%;
          overflow-x: hidden;
          .user,
          .assistant,
          .system {
            display: inline-block;
            border-radius: 5px;
            padding: 2px 5px;
            margin: 5px 2px;
            b {
              font-weight: bold;
              text-decoration: underline;
              padding-bottom: 1px;
            }
          }
          .user {
            margin-right: 1vw;
            width: 80%;
          }
          .assistant {
            margin-right: 1vw;
            text-align: left;
            width: 100%;
          }
          .system {
            margin-right: 1vw;
            width: 100%;
            font-style: italic;
          }
        }
      }
    }
  }

  // --- Area Input ---
  div.item2 {
    flex: 0 0 30vh;
    padding: 0 0.5vw;

    .input-wrapper {
      border-radius: 20px;
      position: relative;
      bottom: 1vh;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .text-input {
        box-sizing: border-box;
        flex: 1;
        font-size: @fsize-inp;
        font-family: @fsans;
        resize: none;
        border: none;
        padding: 2px 40px 2px 2px;
        height: 100%;
        margin-left: 5px;
        border-radius: 10px;
        overflow-y: auto;
        outline: none;
      }
    }
  }
}
